<app-nav></app-nav>
<div class="container mt-4">
    <form [formGroup]="searchForm" class="form" id="form">
        <div  class="card">
            <div class="card-header" id="from" name="form">
                <select [(ngModel)]='nrSelect' formControlName="selectedLangFrom"  >
                    <option value="selected" selected >Select language</option>
                    <option [value]="lang.code" *ngFor="let lang of languages">{{lang.name }} ({{lang.code }})</option>
                </select>
            </div>
            <div class="card-body">
                <textarea [(ngModel)]="value" (input)="change()" maxlength="100" formControlName="searchWord" placeholder="Enter your text here" matInput ></textarea>
                <div class="chars" align="end"><span id="input-chars">{{ count }}</span> / 100</div>
            </div> 
            <button aria-colcount="btn" color="primary" class="btn btn-primary p-2" (click)="traslate()">Search</button>
        </div>
        <div>
            <p>
                <i class="fa fa-exchange mt-3" style="color: rgb(59, 58, 58); font-size: 24px;">‌</i>
            </p>
        </div>
        <div class="card">
            <div class="card-header">
                <select formControlName="selectedLangTo" >
                    <option selected value="selected">Select language</option>
                    <option [value]="lang.code" *ngFor="let lang of languages">{{lang.name }}  ({{lang.code }})</option>
                </select>
            </div>
            <div class="card-body toText" style="height: 170px;">
                <h4 style="font-size: 22px;" class="pl-4 ">{{toText}}</h4>
                <i class="fa fa-file-o" style="font-size: 24px; color: rgb(59, 58, 58); top: 100%; bottom: 0; right: 0;"></i>
                <i class="fa fa-volume-down" style="font-size: 30px; color: rgb(59, 58, 58); top: 100%; bottom: 0; right: 0;"></i>
            </div>
        </div>
    </form>
    
    
</div>



