<app-nav></app-nav>
<div class="container body m-auto">
    <div  class="card m-auto mb-3">
        <div class="lang-card d-flex justify-content-evenly align-item-top gap-4">
            <div class=""> 
                <p style="font-size: 110px; padding-left: 15px;"><i class="flag-icon flag-icon-us"></i></p>
            </div>
            <div class="mt-4">
                <h5>English</h5>
                <p class="text-left" style="font-size: 14px; padding-bottom: 0; margin-bottom: 5px;">
                    {{ 'home.cardText' | translate }}
                </p> <a routerLink="/english"><button class="btn btn-light">{{'buttons.cardBtn' | translate}}</button></a>
            </div>
        </div>
    </div>
    <div  class="card m-auto mb-3">
        <div class="lang-card d-flex justify-content-evenly align-item-top gap-4">
            <div class=""> 
                <p style="font-size: 110px; padding-left: 15px;"><i class="flag-icon flag-icon-ru" style="border: 1px solid rgb(191, 189, 189);"></i></p>
            </div>
            <div class="mt-4">
                <h5>Russian</h5>
                <p class="text-left" style="font-size: 14px; padding-bottom: 0; margin-bottom: 5px;">
                    {{ 'home.cardText' | translate }}
                </p> <a routerLink="/english"><button class="btn btn-light">{{'buttons.cardBtn' | translate}}</button></a>
            </div>
        </div>
    </div>
    <div  class="card m-auto mb-3">
        <div class="lang-card d-flex justify-content-evenly align-item-top gap-4">
            <div class=""> 
                <p style="font-size: 110px; padding-left: 15px;"><i class="flag-icon flag-icon-uz"></i></p>
            </div>
            <div class="mt-4">
                <h5>Uzbek</h5>
                <p class="text-left " style="font-size: 14px; padding-bottom: 0; margin-bottom: 5px;">
                    {{ 'home.cardText' | translate }}
                </p> <a routerLink="/english"><button class="btn btn-light">{{'buttons.cardBtn' | translate}}</button></a>
            </div>
        </div>
    </div>    
</div>