.body {
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    padding: 3rem;
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.card {
    width: 450px;
    height: 180px;

    
    .lang-card {
        .icon {
            font-size: 120px ;
        }

        .text-left {
            width: 220px;
        }
    }
}

.card:hover {
   transform: scale(1.05);
   transition: all .8s ease;
}



@media only screen and (max-width: 729px) {
    .card {
        width: 350px;
        height: 180px;
    
        
        .lang-card {
            .icon {
                font-size: 100px ;
            }

            h5 {
                font-size: 16px;
                font-weight: bold;
            }

            .text-left {
                width: 180px;
                font-size: 12px;
            }

            button {
                width: 90px;
                font-size: 12px;
            }
        }
    }
   
}

@media only screen and (max-width: 1111px) {
    
    
}